-r requirements.txt
altgraph==0.16.1
bleach==3.1.0
certifi==2019.3.9
chardet==3.0.4
docutils==0.14
future==0.17.1
githubrelease==1.5.8
idna==2.8
LinkHeader==0.4.3
livereload==2.6.1
macholib==1.11
Markdown==3.1
markdown2==2.3.7
mkdocs==1.0.4
pefile==2019.4.18
pkginfo==1.5.0.1
pydoc-markdown==2.0.5
Pygments==2.4.0
PyInstaller==3.4
PyYAML==5.1
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
tornado==6.0.2
tqdm==4.32.1
twine==1.13.0
urllib3==1.25.2
webencodings==0.5.1
wheel==0.33.4
