from pitcrew import task


# @task.arg("an_argument", desc="Describe the argument", type=str)
# @task.opt("an_optional_argument", desc="Describe the optional argument", type=str)
# @task.returns("Describe the return value")
class {{ task_class_name }}(task.BaseTask):
    """The description of the task"""

    # use this if you want to verify the task
    # async def verify(self):
    #    pass

    async def run(self):
        pass

class {{ task_class_name }}Test(task.TaskTest):
    @task.TaskTest.ubuntu
    async def test_ubuntu(self):
        pass
